.containerDrag {
  display: flex;
  margin: 10px;
  background-color: antiquewhite;
  height: 20vh;
}

.containerDrop {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1px;
  border: 2px dashed grey;
  margin:10px;
  border-radius: 10px;
  height: 20vh;
}

.item {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.item-2x {
  width: 200%;
}

.item-4x {
  height: 200%;
}

.occupied {
  background-color: darkslateblue;
  border: 1px solid grey;
  border-radius: 10px;
}
